In [73]:
import time
import pandas as pd
import numpy as np
from dask import dataframe as df1
from geopy.geocoders import Nominatim

In [74]:
# initialize Nominatim API 
geolocator = Nominatim(user_agent="geoapiExercises")

#Create compression algorithm
compression_opts = dict(method='zip',
                        archive_name='out.csv')

In [75]:
start = time.time()
size_of_data = 0
df = df1.read_csv("./data/speeding_violations.csv", dtype={'current_amount_due': 'float64',
       'hearing_disposition': 'object',
       'zipcode': 'object',
        'violation_code': 'object'}, low_memory = False)
print("Load completed in " + str(time.time() - start) + "seconds")
df.head(10)

Load completed in 0.011322259902954102seconds

,ticket_number,issue_date,violation_location,license_plate_number,license_plate_state,license_plate_type,zipcode,violation_code,violation_description,unit,...,total_payments,ticket_queue,ticket_queue_date,notice_level,notice_number,hearing_disposition,officer,year,month,hour
0,6040274038,2013-10-16 10:29:00,5120 N PULASKI,96bd1feea486cf542beedb2085e01fc19098154fa574dc...,IL,PAS,607142543,9101020*,SPEED VIOLATION 6-10,SPD,...,0.0,Notice,2013-10-23 00:00:00,FINL,5170732350,NaN,SPEED,2013,10,10
1,6040274115,2013-10-16 11:37:00,5120 N PULASKI,0b43ad9048014bef324e90f164decc2f50855aa19ca786...,IL,PAS,60120,9101020**,SPEED VIOLATION 11+,SPD,...,200.0,Paid,2014-02-21 00:00:00,FINL,5171767730,NaN,SPEED,2013,10,11
2,6040278400,2013-10-16 14:41:00,5120 N PULASKI,f53ac7434805af7fda4eee3501025d3d10faf84218d4fb...,IL,PAS,606411437,9101020**,SPEED VIOLATION 11+,SPD,...,0.0,Notice,2013-10-23 00:00:00,SEIZ,5169350280,NaN,SPEED,2013,10,14
3,6040278434,2013-10-16 15:31:00,4124 W FOSTER AVE,6378df161a7ce3cd656ce655e09e9c77e7e3eeab2cdedc...,IL,PAS,60625,9101020**,SPEED VIOLATION 11+,SPD,...,200.0,Paid,2014-02-14 00:00:00,FINL,5170657820,NaN,SPEED,2013,10,15
4,6040278459,2013-10-16 16:14:00,5120 N PULASKI,b7e05797c09fe8818d27b222bee6a04fe7994570bec9ff...,IL,PAS,606594424,9101020*,SPEED VIOLATION 6-10,SPD,...,85.4,Paid,2014-06-17 00:00:00,FINL,5170733440,NaN,SPEED,2013,10,16
5,6040278467,2013-10-16 16:30:00,5120 N PULASKI,3ed48922bd65f95b43167d8c38e9b2d058c5a897cf5b6f...,IL,PAS,607122544,9101020**,SPEED VIOLATION 11+,SPD,...,100.0,Paid,2013-11-14 00:00:00,VIOL,5170732280,NaN,SPEED,2013,10,16
6,6040278473,2013-10-16 16:48:00,5120 N PULASKI,0629c2af363dbd6051bf4c49f360d11c64ff22838d41e4...,IL,PAS,606412524,9101020*,SPEED VIOLATION 6-10,SPD,...,35.0,Paid,2013-12-01 00:00:00,DETR,5170733520,NaN,SPEED,2013,10,16
7,6040278487,2013-10-16 17:20:00,4124 W FOSTER AVE,0a26348798abd670a8c175a98bf7eb5079e3c9696589c7...,IL,PAS,606181612,9101020*,SPEED VIOLATION 6-10,SPD,...,35.0,Paid,2013-12-26 00:00:00,DETR,5164308950,Liable,SPEED,2013,10,17
8,6040278506,2013-10-16 18:12:00,4124 W FOSTER AVE,e12c71f4b3c522ff77997d8c95ccfd74010d26137413cb...,IL,PAS,60630,9101020**,SPEED VIOLATION 11+,SPD,...,244.0,Paid,2014-08-08 00:00:00,FINL,5170732590,NaN,SPEED,2013,10,18
9,6040278557,2013-10-16 20:47:00,5120 N PULASKI,f2506a14089ba7f2ec5c612f628130d26bf6f683e28e70...,IL,PAS,606603451,9101020**,SPEED VIOLATION 11+,SPD,...,200.0,Paid,2014-02-07 00:00:00,FINL,5169514880,NaN,SPEED,2013,10,20

In [76]:
len(df)
pdf = df.compute()

In [77]:
streets = pdf.groupby('violation_location').violation_location.count()
print(streets)

violation_location
10318 S INDIANAPOLIS    71388
1110 S PULASKI RD        7276
1111 N HUMBOLDT         47256
11144 S VINCENNES        9594
11153 S VINCENNES        4482
                        ...
7826 S PULASKI           2536
7833 S PULASKI          10638
8318 S ASHLAND AVE      24421
8345 S ASHLAND AVE      21374
9618 S EWING AVE        24067
Name: violation_location, Length: 152, dtype: int64

In [78]:
streetnames = streets.index.tolist()

In [79]:
print(streetnames)

['10318 S INDIANAPOLIS', '1110 S PULASKI RD', '1111 N HUMBOLDT', '11144 S VINCENNES', '11153 S VINCENNES', '1117 S PULASKI RD', '1142 W IRVING PARK', '115 N OGDEN', '1226 N WESTERN AVE', '1229 N WESTERN AVE', '1315 W GARFIELD BLVD', '1334 W GARFIELD BLVD', '14 W CHICAGO AVE', '140 N ASHLAND', '141 N ASHLAND', '1440 W CERMAK RD', '1507 W 83rd ST', '1635 N ASHLAND AVE', '1638 N ASHLAND AVE', '1754 N PULASKI RD', '18 W SUPERIOR ST', '19 W CHICAGO AVE', '1901 E 75TH ST', '2080 W PERSHING', '2108 S WESTERN AVE', '2109 E 87TH ST', '2115 S WESTERN AVE', '215 E 63RD ST', '2326 W CERMAK RD', '2329 W DIVISION ST', '2335 W CERMAK RD', '2416 W 103RD ST', '2417 W 103RD ST', '2432 N ASHLAND', '2440 W 51ST ST', '2443 N ASHLAND', '2445 W 51ST ST', '2448 N CLYBOURN AVE', '2513 W 55TH', '2549 W ADDISON', '2550 W 79TH', '2603 W 79TH', '2705 W IRVING PARK', '2712 W IRVING PARK', '2721 W MONTROSE', '2900 W OGDEN', '2912 W ROOSEVELT', '2917 W ROOSEVELT', '2928 S HALSTED', '3034 W FOSTER', '3047 W JACKSON BLVD', '3100 W AUGUSTA', '3111 N ASHLAND AVE', '3115 N NARRAGANSETT AVE', '3116 N NARRAGANSETT AVE', '3130 N ASHLAND AVE', '3137 W PETERSON', '319 E ILLINOIS ST', '3200 S ARCHER AVE', '3212 W 55TH ST', '3217 W 55TH ST', '3230 N MILWAUKEE AVE', '324 E ILLINOIS ST', '324 S KEDZIE AVE', '341 W 76th ST', '3450 W 71ST', '346 W 76th ST', '3521 N WESTERN', '3534 N WESTERN', '3535 E 95TH ST', '3542 E 95TH ST', '3646 W MADISON', '3655 W JACKSON', '3809 W BELMONT AVE', '3810 W BELMONT AVE', '3832 W 79TH', '3843 S WESTERN', '3843 W 111TH', '3851 W 79th', '4040 W 55TH', '4040 W CHICAGO AVE', '4041 W CHICAGO AVE', '4042 W NORTH AVE', '4042 W ROOSEVELT RD', '4045 W 55TH', '4053 W NORTH AVE', '4123 N CENTRAL AVE', '4124 W FOSTER AVE', '4429 N BROADWAY', '4432 N LINCOLN', '4433 N WESTERN', '4436 N WESTERN', '4446 N BROADWAY', '445 W 127TH', '449 N COLUMBUS DR', '450 N COLUMBUS DR', '4620 W BELMONT AVE', '4674 W PETERSON AVE', '4707 W PETERSON AVE', '4831 W LAWRENCE AVE', '4843 W FULLERTON', '4909 N CICERO AVE', '4929 S PULASKI', '4965 S ARCHER', '5006 S WESTERN BLVD', '5025 S WESTERN AVE', '5030 S PULASKI', '506 S CENTRAL AVE', '5120 N PULASKI', '515 S CENTRAL AVE', '5330 S COTTAGE GROVE', '536 E MORGAN DR', '5420 S RACINE AVE', '5428 S PULASKI', '5432 W LAWRENCE', '5433 S PULASKI', '5440 W GRAND', '5446 W FULLERTON', '5454 W IRVING PARK', '5471 W HIGGINS', '5509 W FULLERTON', '5520 S WESTERN', '5529 S WESTERN', '5532 S KEDZIE AVE', '57 E 95TH', '5739 N NORTHWEST HWY', '5816 W JACKSON', '5885 N RIDGE AVE', '6125 N CICERO AVE', '62 E 95TH', '6226 W IRVING PARK RD', '6247 W FULLERTON', '6250 W FULLERTON', '629 S STATE', '630 S STATE', '6330 S MARTIN LUTHER KING', '6443 W BELMONT AVE', '6510 W BRYN MAWR AVE', '6514 W BELMONT AVE', '6523 N WESTERN', '6818 S KEDZIE', '6909 S KEDZIE', '732 N PULASKI RD', '7422 S JEFFERY', '7518 S VINCENNES', '7738 S WESTERN', '7739 S WESTERN', '7826 S PULASKI', '7833 S PULASKI', '8318 S ASHLAND AVE', '8345 S ASHLAND AVE', '9618 S EWING AVE']

In [92]:
testStreet = "1754 N PULASKI RD"

In [106]:
fdf = pdf[pdf['violation_location'] == testStreet] #fDF for Filtered DF
#print(len(fdf))
ydf = fdf[fdf['year'] == 2018] #yDF for year DF
mdf = ydf[ydf['month'] == 1]
len(mdf)

162

In [170]:
output = pd.DataFrame(columns=['Camera','Year','Month','Total Repeat Offenders',
                               'Total New Offenders', 'New Offenders This Year',
                               'Repeat Offenders This Year', 'New Offenders This Month',
                              'Repeat Offenders This Month'])
dataList = []

amount = len(streetnames)
cnt = 0
testset = streetnames#[0:3]
#testset = ["1754 N PULASKI RD", "7738 S WESTERN"]
for street in testset:
    cnt += 1
    print("Street",street,"complete ["+str(cnt) + "/" + str(amount) + "]")
    fdf = pdf[pdf['violation_location'] == street]
    
    totEnc = {} #total encounters
    totalOffenders = 0
    totalUnique = 0
    
    
    started = False
    startyear = 0
    startmonth = 0
    endyear = 0
    endmonth = 0
    
    for year in range(2003, 2019):
        ydf = fdf[fdf['year'] == year] #yDF for year DF
        
        if (len(ydf) >0):
            for month in range(1,13):
                if (month == 6 and year == 2018):
                    break
                monthNew = 0
                monthRepeat = 0
                halfRepeat = 0
                yearRepeat = 0
                lifeRepeat = 0
                
                monthEncountered = {}
                
                mdf = ydf[ydf['month'] == month]
                
                if (len(mdf) > 0):
                    endyear = year
                    endmonth = month
                    if (not started):
                        timestamp = -1
                        started = True
                        startyear = year
                        startmonth = month
                    timestamp += 1
                    
                        
                    binned = mdf.groupby('license_plate_number').license_plate_number.count()
                    
                    for plate,count in binned.items():
                        totalOffenders += count
                        if (plate in totEnc):
                            lifeRepeat += count
                            check = timestamp - totEnc[plate] 
                            #print(check)
                            if (check == 0):
                                monthRepeat += count
                            if (check <= 12):
                                yearRepeat += count
                            if (check <= 6):
                                halfRepeat += count
                            totEnc[plate] = timestamp
                        else:
                            totEnc[plate] = timestamp
                            monthNew += 1
                            totalUnique += 1
                            lifeRepeat += (count - 1)
                            monthRepeat += (count - 1)
                            yearRepeat += (count - 1)
                            halfRepeat += (count - 1)
                            
                            
                                                
                if (started):
                    dataList.append({"Camera":street,
                                    "Timestamp":timestamp,
                                    "Year": year,
                                    "Month": month,
                                    "Total Offenses":totalOffenders,                                     
                                    "Total Unique Offenders":totalUnique,
                                    "New Offenders This Month":monthNew,
                                    "Repeat Offenders":lifeRepeat,
                                    "Repeat Offenders Within The Year":yearRepeat,
                                    "Repeat Offenders Within Past 6 Months":halfRepeat,
                                    "Repeat Offenders Within The Month":monthRepeat})
                
    
    #print("Ends:",endyear,endmonth)
    #if (endyear != 2018 or endmonth != 12):
    #    print("Street:",street, "is an exception", endyear,endmonth)
        
    finalFrame = pd.DataFrame.from_dict(dataList)
    #print(finalFrame.head())
    #print("Street:",street,"Starts:",startyear,startmonth,"Ends:",endyear,endmonth, "New:",totalnew,"Repeats:",totalrepeat)

Street 10318 S INDIANAPOLIS complete [1/152]
Street 1110 S PULASKI RD complete [2/152]
Street 1111 N HUMBOLDT complete [3/152]
Street 11144 S VINCENNES complete [4/152]
Street 11153 S VINCENNES complete [5/152]
Street 1117 S PULASKI RD complete [6/152]
Street 1142 W IRVING PARK complete [7/152]
Street 115 N OGDEN complete [8/152]
Street 1226 N WESTERN AVE complete [9/152]
Street 1229 N WESTERN AVE complete [10/152]
Street 1315 W GARFIELD BLVD complete [11/152]
Street 1334 W GARFIELD BLVD complete [12/152]
Street 14 W CHICAGO AVE complete [13/152]
Street 140 N ASHLAND complete [14/152]
Street 141 N ASHLAND complete [15/152]
Street 1440 W CERMAK RD complete [16/152]
Street 1507 W 83rd ST complete [17/152]
Street 1635 N ASHLAND AVE complete [18/152]
Street 1638 N ASHLAND AVE complete [19/152]
Street 1754 N PULASKI RD complete [20/152]
Street 18 W SUPERIOR ST complete [21/152]
Street 19 W CHICAGO AVE complete [22/152]
Street 1901 E 75TH ST complete [23/152]
Street 2080 W PERSHING complete [24/152]
Street 2108 S WESTERN AVE complete [25/152]
Street 2109 E 87TH ST complete [26/152]
Street 2115 S WESTERN AVE complete [27/152]
Street 215 E 63RD ST complete [28/152]
Street 2326 W CERMAK RD complete [29/152]
Street 2329 W DIVISION ST complete [30/152]
Street 2335 W CERMAK RD complete [31/152]
Street 2416 W 103RD ST complete [32/152]
Street 2417 W 103RD ST complete [33/152]
Street 2432 N ASHLAND complete [34/152]
Street 2440 W 51ST ST complete [35/152]
Street 2443 N ASHLAND complete [36/152]
Street 2445 W 51ST ST complete [37/152]
Street 2448 N CLYBOURN AVE complete [38/152]
Street 2513 W 55TH complete [39/152]
Street 2549 W ADDISON complete [40/152]
Street 2550 W 79TH complete [41/152]
Street 2603 W 79TH complete [42/152]
Street 2705 W IRVING PARK complete [43/152]
Street 2712 W IRVING PARK complete [44/152]
Street 2721 W MONTROSE complete [45/152]
Street 2900 W OGDEN complete [46/152]
Street 2912 W ROOSEVELT complete [47/152]
Street 2917 W ROOSEVELT complete [48/152]
Street 2928 S HALSTED complete [49/152]
Street 3034 W FOSTER complete [50/152]
Street 3047 W JACKSON BLVD complete [51/152]
Street 3100 W AUGUSTA complete [52/152]
Street 3111 N ASHLAND AVE complete [53/152]
Street 3115 N NARRAGANSETT AVE complete [54/152]
Street 3116 N NARRAGANSETT AVE complete [55/152]
Street 3130 N ASHLAND AVE complete [56/152]
Street 3137 W PETERSON complete [57/152]
Street 319 E ILLINOIS ST complete [58/152]
Street 3200 S ARCHER AVE complete [59/152]
Street 3212 W 55TH ST complete [60/152]
Street 3217 W 55TH ST complete [61/152]
Street 3230 N MILWAUKEE AVE complete [62/152]
Street 324 E ILLINOIS ST complete [63/152]
Street 324 S KEDZIE AVE complete [64/152]
Street 341 W 76th ST complete [65/152]
Street 3450 W 71ST complete [66/152]
Street 346 W 76th ST complete [67/152]
Street 3521 N WESTERN complete [68/152]
Street 3534 N WESTERN complete [69/152]
Street 3535 E 95TH ST complete [70/152]
Street 3542 E 95TH ST complete [71/152]
Street 3646 W MADISON complete [72/152]
Street 3655 W JACKSON complete [73/152]
Street 3809 W BELMONT AVE complete [74/152]
Street 3810 W BELMONT AVE complete [75/152]
Street 3832 W 79TH complete [76/152]
Street 3843 S WESTERN complete [77/152]
Street 3843 W 111TH complete [78/152]
Street 3851 W 79th complete [79/152]
Street 4040 W 55TH complete [80/152]
Street 4040 W CHICAGO AVE complete [81/152]
Street 4041 W CHICAGO AVE complete [82/152]
Street 4042 W NORTH AVE complete [83/152]
Street 4042 W ROOSEVELT RD complete [84/152]
Street 4045 W 55TH complete [85/152]
Street 4053 W NORTH AVE complete [86/152]
Street 4123 N CENTRAL AVE complete [87/152]
Street 4124 W FOSTER AVE complete [88/152]
Street 4429 N BROADWAY complete [89/152]
Street 4432 N LINCOLN complete [90/152]
Street 4433 N WESTERN complete [91/152]
Street 4436 N WESTERN complete [92/152]
Street 4446 N BROADWAY complete [93/152]
Street 445 W 127TH complete [94/152]
Street 449 N COLUMBUS DR complete [95/152]
Street 450 N COLUMBUS DR complete [96/152]
Street 4620 W BELMONT AVE complete [97/152]
Street 4674 W PETERSON AVE complete [98/152]
Street 4707 W PETERSON AVE complete [99/152]
Street 4831 W LAWRENCE AVE complete [100/152]
Street 4843 W FULLERTON complete [101/152]
Street 4909 N CICERO AVE complete [102/152]
Street 4929 S PULASKI complete [103/152]
Street 4965 S ARCHER complete [104/152]
Street 5006 S WESTERN BLVD complete [105/152]
Street 5025 S WESTERN AVE complete [106/152]
Street 5030 S PULASKI complete [107/152]
Street 506 S CENTRAL AVE complete [108/152]
Street 5120 N PULASKI complete [109/152]
Street 515 S CENTRAL AVE complete [110/152]
Street 5330 S COTTAGE GROVE complete [111/152]
Street 536 E MORGAN DR complete [112/152]
Street 5420 S RACINE AVE complete [113/152]
Street 5428 S PULASKI complete [114/152]
Street 5432 W LAWRENCE complete [115/152]
Street 5433 S PULASKI complete [116/152]
Street 5440 W GRAND complete [117/152]
Street 5446 W FULLERTON complete [118/152]
Street 5454 W IRVING PARK complete [119/152]
Street 5471 W HIGGINS complete [120/152]
Street 5509 W FULLERTON complete [121/152]
Street 5520 S WESTERN complete [122/152]
Street 5529 S WESTERN complete [123/152]
Street 5532 S KEDZIE AVE complete [124/152]
Street 57 E 95TH complete [125/152]
Street 5739 N NORTHWEST HWY complete [126/152]
Street 5816 W JACKSON complete [127/152]
Street 5885 N RIDGE AVE complete [128/152]
Street 6125 N CICERO AVE complete [129/152]
Street 62 E 95TH complete [130/152]
Street 6226 W IRVING PARK RD complete [131/152]
Street 6247 W FULLERTON complete [132/152]
Street 6250 W FULLERTON complete [133/152]
Street 629 S STATE complete [134/152]
Street 630 S STATE complete [135/152]
Street 6330 S MARTIN LUTHER KING complete [136/152]
Street 6443 W BELMONT AVE complete [137/152]
Street 6510 W BRYN MAWR AVE complete [138/152]
Street 6514 W BELMONT AVE complete [139/152]
Street 6523 N WESTERN complete [140/152]
Street 6818 S KEDZIE complete [141/152]
Street 6909 S KEDZIE complete [142/152]
Street 732 N PULASKI RD complete [143/152]
Street 7422 S JEFFERY complete [144/152]
Street 7518 S VINCENNES complete [145/152]
Street 7738 S WESTERN complete [146/152]
Street 7739 S WESTERN complete [147/152]
Street 7826 S PULASKI complete [148/152]
Street 7833 S PULASKI complete [149/152]
Street 8318 S ASHLAND AVE complete [150/152]
Street 8345 S ASHLAND AVE complete [151/152]
Street 9618 S EWING AVE complete [152/152]

In [171]:
finalFrame.head(25)

,Camera,Timestamp,Year,Month,Total Offenses,Total Unique Offenders,New Offenders This Month,Repeat Offenders,Repeat Offenders Within The Year,Repeat Offenders Within Past 6 Months,Repeat Offenders Within The Month
0,10318 S INDIANAPOLIS,0,2014,2,764,665,665,99,99,99,99
1,10318 S INDIANAPOLIS,1,2014,3,3658,2827,2162,732,732,732,535
2,10318 S INDIANAPOLIS,2,2014,4,7155,5181,2354,1143,1143,1143,494
3,10318 S INDIANAPOLIS,3,2014,5,10305,7227,2046,1104,1104,1104,327
4,10318 S INDIANAPOLIS,4,2014,6,12779,8907,1680,794,794,794,230
5,10318 S INDIANAPOLIS,5,2014,7,14818,10245,1338,701,701,701,170
6,10318 S INDIANAPOLIS,6,2014,8,16964,11716,1471,675,675,675,163
7,10318 S INDIANAPOLIS,7,2014,9,19186,13179,1463,759,759,755,231
8,10318 S INDIANAPOLIS,8,2014,10,21242,14552,1373,683,683,644,173
9,10318 S INDIANAPOLIS,9,2014,11,22999,15758,1206,551,551,503,109
10,10318 S INDIANAPOLIS,10,2014,12,24363,16695,937,427,427,384,71
11,10318 S INDIANAPOLIS,11,2015,1,25579,17530,835,381,381,313,73
12,10318 S INDIANAPOLIS,12,2015,2,26531,18158,628,324,324,268,73
13,10318 S INDIANAPOLIS,13,2015,3,28063,19214,1056,476,475,383,110
14,10318 S INDIANAPOLIS,14,2015,4,29709,20331,1117,529,511,421,115
15,10318 S INDIANAPOLIS,15,2015,5,31509,21538,1207,593,561,443,142
16,10318 S INDIANAPOLIS,16,2015,6,32793,22406,868,416,395,322,79
17,10318 S INDIANAPOLIS,17,2015,7,34206,23364,958,455,429,360,133
18,10318 S INDIANAPOLIS,18,2015,8,35592,24242,878,508,468,406,91
19,10318 S INDIANAPOLIS,19,2015,9,36499,24879,637,270,243,208,33
20,10318 S INDIANAPOLIS,20,2015,10,37595,25623,744,352,309,265,72
21,10318 S INDIANAPOLIS,21,2015,11,38316,26142,519,202,171,145,27
22,10318 S INDIANAPOLIS,22,2015,12,39109,26679,537,256,218,175,31
23,10318 S INDIANAPOLIS,23,2016,1,39881,27220,541,231,191,149,52
24,10318 S INDIANAPOLIS,24,2016,2,40629,27747,527,221,176,139,34

In [169]:
finalFrame.to_csv('out.zip', index=False,
          compression=compression_opts)